:root {
  --text: #303541;
  --text-light: #808080;
  --background: #efeff1;
  --primary: #ff6b6b;
  --primary-dark: #e60000;

  --white: #fff;

  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  font-family: "Karla", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: var(--text);
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

section {
    margin-bottom: 132px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn", serif;
  line-height: 1.2;
}
img {
  border: none;
  outline: none;
  max-width: 100%;
}
ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
    font-size: 16px;
}

th {
    font-weight: 400;
}

td {
    padding: 0 .5em;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-block: 0;
}
a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  color: var(--primary-dark);
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}

.section-line {
  border: 1px solid var(--primary);
  margin: 0 auto 16px;
  width: 50px;
  opacity: 100;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 48px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
}

.section-content {
  margin-top: 130px;
}

.section-content h5{
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-block: 36px 12px;
}

.section-content p{
  max-width: 100ch;
}

:target::before {
  content: "";
  display: block;
  height: 150px; /* fixed header height*/
  margin: -150px 0 0; /* negative fixed header height */
}

/* HEADER */

.navbar {
  background-color: var(--background);
  box-shadow: var(--text-light) 0px 0px 5px 0px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav {
  display: block;
  margin: 0 auto;
}

.navbar-brand {
  width: 140px;
}

.navbar-nav {
  text-align: center;
}

.nav-item .active {
  color: var(--primary) !important;
}

.nav-link {
  color: var(--text);
  text-decoration: none;
}

@media (min-width: 992px) {
  .nav-link {
    padding-inline: 2em !important;
  }
}

.nav-link:hover,
:focus {
  color: var(--primary);
  text-decoration: none;
}

@media (max-width: 992px) {
  .info-container {
    display: none;
  }
}

.info-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 17px;
}

.info-item {
  color: var(--primary);
  font-size: 17px;
  font-weight: 400;
}

.info-item i {
  padding-inline: 1rem;
}

/* HERO SECTION */

.hero-section {
  background: var(--background);
}

.hero-main {
  margin-block: 200px 100px;
}

.hero-title {
  color: var(--primary);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 16px;
  text-align: center;
  text-transform: uppercase;
}

.hero-subtitle {
  text-transform: uppercase;
  text-align: center;
}

.hero-img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

@media (max-width: 767px) {
  .hero-title {
    font-size: 50px;
  }
  .navbar-info {
    display: none;
  }
}

/* OFFER SECTION */

.menu-container {
  margin-block: 24px;
}

.menu-container h3 {
  font-weight: 700;
  font-size: 18px;
  color: var(--primary);
  margin-bottom: 16px;
}

.menu-container ul li {
  margin-bottom: 0.5em;
  font-size: 16px;
}

/* RATING SECTION */

.carousel-item {
  margin-block: 32px;
  text-align: center;
}

.carousel-title {
    font-weight: 700;
    font-size: 18px;
    margin-block: 24px;
    color: var(--text-light);
    font-family: "Karla", sans-serif;
}

.carousel-item p {
  margin: 0 auto;
  margin-block: 24px;
  max-width: 70ch;
}

.carousel-item .score i {
  color: var(--primary);
}

/* RATING SECTION */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.gallery-img {
    margin: 30px 0;
}

.gallery-img img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
}

.gallery-img:first-child {
    position: relative;
}

@media (min-width: 640px) {
    .gallery-img {
      -moz-box-flex: 0;
      flex: 0 0 48%;
      margin: 5px 0;
    }
}

@media (min-width: 992px) {
    .gallery-img{
      -moz-box-flex: 0;
      flex: 0 0 32%;
    }
}

/* contact SECTION */

.map-wrapper {
    margin-bottom: 48px;
}

.iframe-container {
    position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 992px) {
.contact-wrapper {
    flex-direction: row;
}
}

.contact-box {
    flex: 1;
    flex-basis: auto;
    margin: 0 18px 42px;
}

@media (min-width: 992px) {
    .contact-box {
        flex-basis: 0;
    }
}

.contact-title{
    font-family: "Karla", sans-serif;
    font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

.contact-infos ul li {
  padding-bottom: 1em;
}

.contact-infos ul li i {
  margin-right: 0.75em;
  color: var(--primary);
}

.contact-section a {
  color: var(--text);
  font-size: 16px;
}

.contact-section a:hover {
    color: var(--primary-dark);
  }

/* FOOTER */

footer {
  background-color: var(--background);
  padding: 1.5rem;
}

.footer-container {
    border-top: 0.25px solid var(--text-light);
    color: var(--text-light);
    font-size: 12px;
    padding: 20px 0;
    gap: 24px;
    -moz-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: end;
    white-space: nowrap;
    align-items: center;
  }

@media (min-width: 640px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-links {
        flex-direction: row;
        gap: 24px;
    }
}



.footer-links a {
  color: var(--text-light);
}

.footer-links a:hover {
  color: var(--primary);
  text-decoration: none;
  transition: 0.5 s;
}